/* id, bio, question, guess, results, winlose */
.container {
  max-width: 100%;
  object-fit: cover;
  background-image: url("healthcare.jpeg");
  
  height: 800px;
  
}

#cardheader {
  font-size: x-large;
  text-align: center;
  background-color: rgb(3, 21, 122);
  color: white;
  
  
}

#cardbody {
  align-content: space-around;
  font-size: larger;
  padding: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  height: max-content;
  width: auto;
  background-color: rgb(32, 66, 255);
  color: white;
}

#banner {
  background-color: rgb(3, 21, 122);
  height: 32px;
  align-content: bottom;
  justify-content: baseline;
  color: white;
  
  
  
}

#myModal {
  margin: auto;
  display: none; /* Hidden by default */
  position: relative; 
  z-index: 1; /* Sit on top */

  overflow: auto; /* Enable scroll if needed */
  

  
   
  
  
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
  object-position: bottom;
  width: 100%;

}

#learn {
  flex: auto;
  margin: 10px;
  align-self: center;
}

#button1 {
  font-size: large;
  margin: auto;
  background-color: rgb(3, 21, 122);
  color: white;

} 

.btn-group button {
  flex: auto;
  width: 135px;
  height: 50px;
  font-size: large;
  border-radius: 10px;
  background-color: rgb(3, 21, 122);
  color: white;
}

#card {
  margin: auto;
  flex: auto;
  text-align: left;
  text-indent: -10px;
  height: 325px;
  max-width: 440px;
  border-radius: 10px;
  color: #2073a3;
  
  
  
  
  
}



#question {
  height: auto;
  flex: auto;
  font-size: large;
  border-radius: 10px;
  text-align: center;
  
 
}


#final_answer {
  background-color: rgb(32, 66, 255);
  color: white;
  font-size: larger;
  margin-top: -5px;


} 

#tryAgain {
  height: 40px;
  font-size: large;
  border-radius: 10px;
  align-content: center;
  background-color: rgb(3, 21, 122);
  color: white;
}



#tryAgain:hover {
  background-color: rgb(16, 247, 16);
  color: black;
}

#button1:hover {
  background-color: #5faaff;
  color: black;

}

.btn-group button:hover {
  background-color: #1fa6ff;
  color: black;
}